@font-face {
  font-family: 'Circular';
  src: url('../public/fonts/CircularStd-Book.woff2') format('woff2'),
      url('../public/fonts/CircularStd-Book.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SangBleu';
  src: url('../public/fonts/SangBleuKingdom.woff2') format('woff2'),
      url('../public/fonts/SangBleuKingdom.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SangBleu';
  src: url('../public/fonts/SangBleuKingdom-Italic.woff2') format('woff2'),
      url('../public/fonts/SangBleuKingdom-Italic.woff') format('woff');
  font-style: italic;
  font-display: swap;
}