/* Webfonts */
@import '_fonts.css';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';


/* Simple defaults */
body {
  @apply font-sans text-sm antialiased text-black bg-white;
}


/* Accordion */
dt {
  @apply relative border-b border-off-black/20;

  &:after {
    content: '+';
    @apply absolute right-0 transform -translate-y-1/2 top-1/2;
  }
  
  & a {
    @apply relative block py-6 leading-none uppercase;
  }  

  &:target {
    @apply border-transparent text-blue;

    &:after {
      content: '-';
    }

    & + dd {
      @apply block transition duration-500 border-b border-black/20;
    }
  } 
}

dd {
  @apply hidden pt-0 pb-4 transition duration-500;

  ul {
    @apply mt-2; 
    
    & li {
      @apply pb-[0.25rem];
      
      &:before {
        content: '-';
        @apply pr-2;
        text-indent: -5px;
      }
    }
  }
}

/* Embla Carousel */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -40px;
}

.embla__slide {
  position: relative;
  padding-left: 40px;

  @apply min-w-[70%] md:min-w-[35%] lg:min-w-[28%] 2xl:min-w-[22%] 3xl:min-w-[18%] max-w-[70%] md:max-w-[35%] lg:max-w-[28%] 2xl:max-w-[22%] 3xl:max-w-[18%];
}

.embla__slide--single {
  position: relative;
  padding-left: 40px;

  @apply min-w-[100%] md:min-w-[100%] lg:min-w-[100%] 2xl:min-w-[100%] 3xl:min-w-[100%];
}

.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  /* transform: translateY(-50%); */
  border: 0;
  justify-content: center;
  align-items: center;
  padding: 0;

  @apply text-[20px];
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__button--prev {
  left: 0px;
}

.embla__button--next {
  right: 0px;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.is-draggable {
  cursor: move !important;
  cursor: grab !important;
}

.is-dragging {
  cursor: grabbing !important;
}


.react-tabs__tab {
  @apply opacity-25;
}

.react-tabs__tab--selected {
  @apply text-blue opacity-100;
}

.accordion__panel {
  display: block !important;
  overflow: hidden;
  max-height: 1000px;  
  transition: max-height 1.5s ease-in-out;
}

.accordion__panel[hidden] {
  display: block !important;
  max-height: 0;
  overflow: hidden;  
  transition: max-height 0.75s cubic-bezier(0, 1, 0, 1);
}

.accordion__button {
  @apply transition-all ease-in-out duration-[600ms] border-b border-gray-200 py-3 uppercase;
}

.accordion__button[aria-expanded='true'] {
  @apply h-auto border-b; 

  .cross {
    @apply hidden;
  }
  .minus {
    @apply block;
  }
}

@keyframes fadein {
  0% {
      max-height: 0;
      opacity: 0;
  }

  100% {
      max-height: 600px;
      opacity: 1;
  }
}

.react-tabs__tab-panel {
  opacity: 0;
  display: block !important;
  @apply transition-opacity ease-in-out duration-1000;
}

.react-tabs__tab-panel--selected {
  opacity: 1;
  display: block !important;
  @apply transition-opacity ease-in-out duration-1000;
}
/* 
@keyframes fadein {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
} */